import React, { Component } from 'react'
import { View, Text } from 'react-native'
import PropTypes from 'prop-types'
import { Container } from './styles'

class {{pascalCase name}} extends Component {
  constructor(props){
    super(props)
    this.state = {

    }
  }

  render(){
    return(
      <Container>
        <span>{{ pascalCase name }}</span>
      </Container>
    )
  }
}

{{pascalCase name}}.defaultProps = {

}

{{pascalCase name}}.propTypes = {

}

export default {{pascalCase name}}