import React from 'react'
import { View, Text } from 'react-native'
import PropTypes from 'prop-types'
import { Container } from './styles'

const {{pascalCase name}} = props => {
  return (
    <Container>
      <span>{{ pascalCase name }}</span>
    </Container>
  );
};

{{pascalCase name}}.defaultProps = {

}

{{pascalCase name}}.propTypes = {

}

export default {{pascalCase name}}